snippet mod "skel of lua module"
	local ${1:M} = {}

	$1.${2:key} = ${0:value}

	return $1

snippet class "Class definition"
	local ${1:Class}
	$1 = {
		__index = $1
	}

	function $1:new(o)
		o = o or {}
		setmetatable(o, self)
		o.__index = o

		$0

		return o
	end

	return $1

snippet key= "Table key"
	${1:key} = ${2:"value"},

snippet key" "Table key with quotes"
	["${1:key}"] = ${2:"value"},

snippet fun "function"
	${1:local }function ${2:name}($3)
		${0:$VISUAL}
	end
